.btn-group.pull-right.navbar-form
    -if (!cart)
        button.btn
            span.glyphicon.glyphicon-shopping-cart
            b  #{__('Cart')} : 0 
    -else
        button.btn.dropdown-toggle(data-toggle="dropdown")
            i.icon-shopping-cart
            b  #{__('Cart')} : #{cart.count} 
            span.caret
        ul.dropdown-menu
            each product in cart.products
                li
                  a(href='/product/#{product.seo}') 
                    i(remId='#{product.id}').icon-remove.pull-right
                    | #{product.name}
            li.divider
            li
              a(href='/checkout/cart') #{__('Checkout')}