<% layout('../_layout') %>
<h1><%= __('Contact us') %></h1>
<p class="lead"><%= __('Contact info') %></p>
<address>
  <strong>Owner</strong>
  <br>
  <p>Owner &trade; 2014</p>
  <br>
  <p>Address 1</p>
  <br>
  <p>Address 2</p>
  <br>
  <abbr title="<%= __('Phone') %>"><%= __('Phone') %>: (11) 0000-000 </abbr>
  <abbr title="<%= __('Email') %"><%= __('Email') %></abbr>
</address>