<%layout('../_layout')%>
<h2><%=product.name%></h2>
<hr>
<div class="row-fluid">
  <col-md-6><img src="" alt="<%=product.name%>"></col-md-6>
  <div class="col-md-6">
    <hr>
    <dl>
      <dt><%=__('Make')%></dt>
      <dd><%=__(product.make)%></dd>
      <dt><%=__('Model')%></dt>
      <dd><%=__(product.model)%></dd>
    </dl>
    <hr>
    <div class="pull-left"><%=product.pricing.retail%></div>
    <a href="javascript:" data-id="<%=product.id%>" class="btn btn-success btn-large pull-right add"><%=__('Add to cart')%></a>
  </div>
</div>