<%layout("../_layout")%>
<div class="row">
    <h2><%=__(title)%></h2>
    <hr>
</div>
<div class="row">
    <table class="table table-hover">
        <thead>
            <th><%=__("Name")%></th>
            <th><%=__("Price")%></th>
            <th><%=__("Quantity")%></th>
            <th><%=__("Remove")%></th>
        </thead>
        <tbody>
            <%cart.products.forEach(function(product){%>
                <tr>
                    <td><a href="/product/<%=product.seo%>"><%=product.name%></a></td>
                    <td>$<%=product.price%></td>
                    <td><%=product.quantity%></td>
                    <td><span class="glyphicon glyphicon-remove"></span></td>
                </tr>
            <%});%>
        </tbody>
    </table>
</div>
<div class="row">
    <div class="pull-right">
        <h4><%=__("Total")%>:<%=cart.total%></h4>
        <%if(!locals.logged){%>
            <a href="/checkout/guest" class="btn btn-primary"><%=Proceed as guest.%></a>
        <%}else{%>
            <a href="/checkout/order" class="btn btn-primary"><%=__("Proceed as ")%> <%=user.name.first%></a>
        <%}%>
    </div>
</div>