<%layout( "../_layout")%>
    <div class="row">
        <h2>
            <%=title%>
        </h2>
        <hr>
    </div>
    <div class="row">
        <table class="table-hover table">
            <thead>
                <tr>
                    <th>
                        <%__( "Name")%>
                    </th>
                    <th>
                        <%__( "Price")%>
                    </th>
                    <th>
                        <%__( "Quantity")%>
                    </th>
                    <th>
                        <%__( "Remove")%>
                    </th>
                </tr>
            </thead>
            <tbody>
                <%cart.products.forEach(function(product){%>
                    <tr>
                        <td>
                            <a href="/product/<%product.seo%>">
                                <%=product.name%>
                            </a>
                        </td>
                        <td>$
                            <%=product.price%>
                        </td>
                        <td>
                            <%=product.quantity%>
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-remove"></span>
                        </td>
                    </tr>
                    <%})%>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="pull-right">
            <h4>
                <%=__( "Total")%>: $
                    <%=cart.total%>
            </h4>
        </div>
    </div>
    <div class="row">
        <h2>
            <%=__( "Address")%>
        </h2>
        <hr>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <%__( "Select")%>
                    </th>
                    <th>
                        <%__( "Address 1")%>
                    </th>
                    <th>
                        <%__( "Town")%>
                    </th>
                    <th>
                        <%__( "Zip/Postal")%>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="checkbox" name="address" id="address">
                    </td>
                    <td>
                        <%=user.address.address1%>
                    </td>
                    <td>
                        <%=user.address.town%>
                    </td>
                    <td>
                        <%=user.address.pcd%>
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <form action="/checkout/order" method="post" class="form-horizontal">
            <div class="form-group">
                <a href="" onclick="1('.row > form').submit();" class="btn btn-primary pull-right">
                    <%=__( "Pay")%>
                </a>
            </div>
        </form>
    </div>
    <script src="/js/controller/checkout/order.js"></script>
